<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', bookshelves_path%></li>
  <li class="active"><%= link_to 'New book', new_bookshelf_path %></li>
</ul>

<h1>New bookshelf</h1>

<%= render 'form' %>

<%= link_to 'Back', bookshelves_path %>
